<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Viktor Beránek">
    <title>Blog</title>

    <link rel="stylesheet" href="http://sheepsoft.cz/css/bootstrap.css" />

</head>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Blog</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a n:href="Homepage:default">Homepage</a>
                </li>
                {if $user->isLoggedIn()}
                    <li>
                        <a n:href="Users:default">Uživatelé</a>
                    </li>
                    <li>
                        <a class="ajax" n:href="logout!">Odhlásit</a>
                    </li>
                {else}

                {/if}
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
    <div class="alert alert-success" n:foreach="$flashes as $flash">{$flash->message}</div>
    <div class="row">

        {include content}
    </div>   
</div>
    <hr>
        

    <!-- Footer -->
    

<!-- /.container -->

<!-- jQuery -->
{block scripts}
<script src="http://sheepsoft.cz/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="http://sheepsoft.cz/js/bootstrap.min.js"></script>

<!--[if lte IE 8]>
<script src="http://sheepsoft.cz/js/html5.js" type="text/javascript"></script>
<![endif]-->
{/block}

</body>
</html>