{* This is the welcome page, you can delete it *}

{block content}
	<ul class="breadcrumb">
		<li><a n:href="Homepage:default">Homepage</a></li>
		<li><a n:href="Users:default">Uživatelé</a></li>
		<li class="active">Přidat uživatele</li>
	</ul>

	<h3>Přidat uživatele</h3>
	{control addUser}
{/block}
