{* This is the welcome page, you can delete it *}

{block content}
	<ul class="breadcrumb">
		<li><a n:href="Homepage:default">Homepage</a></li>
		<li class="active">Uživatelé</li>
	</ul>


	<p class="text-left">
		<a class="btn btn-default" n:href="Users:add">Přidat uživatele</a>
	</p>

	<p class="text-right">
		Počet záznamů: {$paginator->getItemCount()}
	</p>

	<table class="table table-responsive">
		<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Jméno
			</th>
			<th>
				Příjmení
			</th>
			<th>
				Email
			</th>
			<th>
				Úpravy
			</th>
		</tr>
		<tr>
			<form n:name=searchInUsers class="form-inline">
				<td class="form-group">
						<input class="form-control" n:name=user_id>
				</td>

				<td class="form-group">
						<input class="form-control" n:name=name>
				</td>

				<td class="form-group">
						<input class="form-control" n:name=surname>
				</td>

				<td class="form-group">
						<input class="form-control" n:name=email>
				</td>

				<td>
					<input n:name=send class="btn btn-default">
				</td>
			</form>
		</tr>
		</thead>
		<tbody>
			<tr n:foreach="$users as $v">
				<td>
					{$v->id}
				</td>
				<td>
					{$v->name}
				</td>
				<td>
					{$v->surname}
				</td>
				<td>
					{$v->email}
				</td>
				<td>
					<a n:href="Users:edit $v->id">Editovat</a> - <a n:href="Users:default deleteId=>$v->id">Smazat</a>
				</td>
			</tr>
		</tbody>
	</table>
	{if !$paginator->getItemCount()}
		<p class="text-center">Nenalezen žádný záznam</p>
	{/if}
	{if $paginator}
		<ul class="pagination">
			{for $i=1; $i <= $paginator->getPageCount(); $i++}
				<li {if $paginator->getPage() == $i}class="active"{/if}><a n:href="Users:default page=>$i">{$i}</a></li>
			{/for}
		</ul>
	{/if}


{/block}
