{* This is the welcome page, you can delete it *}

{block content}
		<ul class="breadcrumb">
			<li><a n:href="Homepage:default">Homepage</a></li>
			<li><a n:href="Users:default">Uživatelé</a></li>
			<li class="active">Editace uživatele</li>
		</ul>

		<h3>Editace uživatele</h3>


		{control addUser}
	<hr/>


{/block}
